# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Django
/staticfiles/
/media/
*.db

# Envs
.env
.env.*
virtual/
venv/
.venv/

# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode/
.idea/
.DS_Store
